// el-menu
@menu-active-color: #ffd04b;  // 鼠标 滑过、选中文本颜色
@menu-expand-bgColor: #000;   // 菜单 展开、选中 背景色
@top-menu-active-color: #fff; // 顶部菜单 一级菜单 滑过、选中文本颜色
@top-menu-active-bgColor: #41b2ff; // 顶部菜单 一级菜单 选中 背景色
@top-menu-hover-bgColor: rgba(65, 178, 255, .6); // 顶部菜单 一级菜单 滑过 背景色
@menu-popup-bgColor: #1a1a2e;  // 菜单popup背景色
.el-menu {
  border-right: 0;
  &.el-menu--horizontal {
    border-bottom: 0;
  }
  .menu-icon {
    color: white;
  }
}
.el-submenu__title,
.el-menu-item {
  &:hover,
  &:hover * {
    color: @menu-active-color!important;
  }
}
.el-menu-item.is-active,
.el-submenu.is-active .el-submenu__title,
.el-submenu.is-active .el-menu-item, {
  background: @menu-expand-bgColor!important;
}
.menu-top-box {
  .el-submenu__title {
    .pd(0, 30, 0, 20);
  }
  .el-menu-item.is-active,
  .el-submenu.is-active  .el-submenu__title {
    color: @top-menu-active-color!important;
    background: @top-menu-active-bgColor!important;
    &:hover {
      background: @top-menu-active-bgColor!important;
    }
  }
  .el-menu-item,
  .el-submenu .el-submenu__title {
    &:hover {
      color: @top-menu-active-color!important;
      background: @top-menu-hover-bgColor!important;
    }
    &:hover * {
      color: @top-menu-active-color!important;
    }
  }
}
.menu-left-container {
  .el-submenu.is-active .el-submenu__title,
  .el-submenu.is-active .el-submenu__title .menu-icon {
    color: @menu-active-color!important;
  }
}
.el-menu--popup {
  .el-menu-item.is-active,
  .el-submenu.is-active  .el-submenu__title {
    color: @menu-active-color!important;
    .menu-icon {
      color: @menu-active-color!important;
    }
  }
  .el-menu-item,
  .el-submenu .el-submenu__title,
  .el-submenu .el-menu-item, {
    background: @menu-popup-bgColor!important;
  }
}
// 隐藏文字--由于el-menu-item拆成了组件，使el-menu下的直接子元素为div，从而导致el-menu  collapse时，文字无法隐藏
.el-menu--collapse  .el-submenu__title span{
  display: none;
}
// 隐藏 >
.el-menu--collapse  .el-submenu__title .el-submenu__icon-arrow{
  display: none;
}

// el-popover
.user-operator-popover {
  left: auto!important;
  right: 20px;
  padding: 0!important;
  .content-container {
    >div {
      .wfull();
      .line-height(44px);
      .tc();
      padding: 0 12px;
      &:hover {
        background: @bg-lighter;
        color: @primary;
      }
    }
  }
}

// notify
.file-notify {
  .el-icon-loading {
    color: white;
  }
  .el-notification__group.is-with-icon {
    .wfull();
  }
  .el-notification__content {
    .wfull();
    margin: 0;
    .file-notify-percentage {
      .wfull();
      .line-height(6px);
      .fs(0);
      background: @text-placeholder;
      border-radius: 5px;
      margin-top: 4px;
      >i {
        .dinlineb();
        .hfull();
        background: @success;
        border-radius: 5px;
      }
    }
  }
}

// Button
.el-button {
  color: white !important;
}
.el-button--small {
  padding: 6px 10px !important;
}
.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  background-color: @text-placeholder !important;
  border-color: @text-placeholder !important;
}

// el-checkout
.el-checkbox__input.is-disabled {
  .el-checkbox__inner {
    background-color: @text-placeholder !important;
    border-color: @text-placeholder !important;
  }
}

//el-table
@table-row-height: 40px;
.el-table td,
.el-table th.is-leaf {
  height: @table-row-height;
  box-sizing: border-box !important;
  padding: 0;
}
.el-table__body-wrapper {
  .wfull();
  .h(calc(~"100% - 40px"))!important;
}
.el-table__empty-block {
  background: url(../images/common/empty.png) center center no-repeat;
  .el-table__empty-text {
    display: none;
  }
}
// 展开行样式
tr .el-table__expanded-cell {
  height: 200px;
  .pd20 !important;
  background-color: @bg-expand;
  font-size: 13px;
  line-height: 25px;
  &:hover {
    background-color: @bg-expand!important;
  }
  .box--empty {
    background-size: 140px 114px;
  }
}
// 解决表格勾选框对不齐
.el-table-column--selection .cell {
  padding-left: 10px;
}
// 解决表格固定列遮挡横向滚动条问题--若出现滚动至底部，固定列错位：webkit-scrollbar的width、height设为一致
.el-table__fixed-right {
  // height: auto!important;
  // bottom: 10px;
}

// el-loading
.el-loading-mask {
  background-color: @bg-base-opacity;
}
// 修改加载框icon
.el-loading-spinner{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .full();
  background: url(../images/common/loading.gif) center center /42px 42px no-repeat;
  .circular {
    .dnone();
  }
}

// el-dropdown
.table-columns-config-dropdown {
  .dflex();
  .fjc();
  width: 246px;
  padding: 10px;
}